
.red{
  color:white;
  background-color: red;
  font-size: 60px;
}

.brand img{
  width:35%;
}


.card-body p{
  padding-top: 10%;
}

#text1{
  padding-top: 100px;
}


 p{
  font-weight: 400;
}

.vision{
  padding: 5% 2% 5% 2%;
}

.how-section img {
  height:100px;
  width:auto;
  padding-left: 100px;
}

.about{
  padding-bottom: 5%;
}

.faq{
  background-color: #DCDCDC;
}


.padded{
  padding: 3% 2% 5% 2%;
}

.faq-col2-padded{
  padding: 7% 0% 3% 0%;
}

.selfie{
  padding-left: 8%;
}

#selfie img{
  height:auto;
  width:300px;
  margin-left: 19%;
  border-radius: 5px;
}

.blockquote-secondary{
  padding:20%;
}


.col-block{
  padding-top: 15%;
}

.img-text{
  width: 100%;
   height: 400px;
   background-size: cover;
   position: relative;
}


.contact-text{
  padding:4% 5% 0% 0%;
}


.not-clickable{
  pointer-events: none;
}


.sexy_line {
    height: 4px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}

.ed-header p{
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
  margin-top: 10%;

}

.courses{
    width: 100%;
    height: auto;
    background: linear-gradient(0deg,rgba(255,5,155,.2),rgba(0,38,160,.6));
    position: relative;
    color:black;
    font-weight: 600;
    margin-top:15%;
    margin-bottom: 15%;
    padding: 10% 5% 10% 5%;
}

.courses li{
  margin-top:17px;
  font-size: 24px;
  font-weight: 540;
}

.courses ul {
  list-style: none;
   padding-left: 0;
}

.title{
  font-size: 40px;
}

.margin{
  margin:4%;
}


.school-intro{
  padding:2% 10% 3% 10%;
}


.proj img{
  transition: all 0.8s ;
}

.proj img:hover{
  transform: scale(1.1);

}

.programs img{
  transition: transform 1.5s;
}

.programs img:hover{
  transform: translate(20px, -20px);
}

.extra img{
  transition: transform 1.5s;
}

.extra img:hover{
  transform: translate(20px, 20px);
}


.extra{
  margin-bottom: 10%;
}

#contact{
  padding-top:3%;
  padding-bottom: 3%;
}
#contact a{
  transition: all 1s;
}

#contact a:hover{
  transform: scale(1.1);
}


#home h2{
  padding-bottom: 0%;
  text-align: center;
}


#projects{
  margin-bottom: 10%;
}
.srjc-img img{
  padding-top: 10px 0px 100px 0px;
  width: 10px;
}

.ucsc-img img{
  padding-top: 20%;
}


.right{
  text-align: right;
}


.contact-first{
  padding-top: 5%;
}


.clear-filter[filter-color=pink-blue] {
  background: rgba(0,38,160,.2);
  background: linear-gradient(0deg,rgba(255,5,155,.2),rgba(0,38,160,.6));
}


.no-click a{
  pointer-events: none;
}


p{
  font-family: Roboto;
}


h1{
  font-family: Roboto;

}

h3{
  font-family: 'Arimo', sans-serif;
  font-weight: 600;
}

h2{
  font-family: cursive;
}

li{
  font-family: notable;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
}


.flex-container2 img{
  width:150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}


#my-story-header{
  margin-left: auto;
  margin-right: auto;
}

.flex-container img{
  width:20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.orgs-intro{
  padding-top: 10%;
}


.about-text{
  width:350px;
  height:auto;
  padding: 100px 10px 0px 10px;
  line-height: 140%;
}

.about-text2{
  width:350px;
  height:auto;
  padding:5% 5% 0% 5%;
  line-height: 135%;
}

.blue-img img{
  width:100%;

}


.flex-container3 {
  display: flex;
  flex-wrap: wrap;
}

.flex-container3 img{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}


.span4 img {
    margin-right: 30px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

.about-image img{
  width:35%;
  height:auto;
  box-shadow: 0px 0px 5px 5px #e4e4e4;
  border-radius: 3.5px;
}

.about-text4{
  padding:2% 5% 0% 5%;
  line-height: 130%;
  font-size: 20px;
}

.blockquote{
  font-size: 18px;
  font-weight: 550;
}


.programs p{
  font-size: 18px;
  font-weight: 500;
  max-width: 900px;
  line-height: 1.8;
}

.programs h2{
  margin: 50px;
}


.extra p{
  font-size: 18px;
  font-weight: 550;
}


.mep {
  padding: 300px 0px 0px 0px;
}

.mep p{
  margin: 20px 10px 50px 100px;
  line-height: 160%;
  max-width: 400px;
}

.mep a{
  transition: all 1s;
  font-size: 20px;
}

.mep a:hover{
  transform: scale(1.1);
}

.shpe p{
  padding: 10px 0px 20px 50px;
  line-height: 160%;
}


.shpe a{
  margin: 0px 50px 50px 100px;
  transition: all 1s;
  font-size: 20px;
}

.shpe a:hover{
  transform: scale(1.1);
}

.shpe img{
  width:27%;
  height:auto;
  box-shadow: 0px 0px 5px 5px #e4e4e4;
  border-radius: 3.5px;
}

.card-body{
  text-align: center;
}

.card{
  border-radius: 5px;
}

.tech-btn{
  background: transparent;
  font-size: 13px;
  color: #707070;
  margin: -20px 0px 0px 0px;
}


ul {
  list-style-type: none;
}
