.card-body p{
  padding-top: 0.5rem;
}

.btn{
  width: 10vw;
  border-radius: 10rem;
}

#text1{
  padding-top: 100px;
}

p{
  font-weight: 400;
}

.how-section img {
  height:100px;
  width:auto;
  padding-left: 100px;
}

.faq{
  background-color: #DCDCDC;
}

#selfie img{
  height: 270px;
  width: 270px;
  object-fit: cover;
  border-radius: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blockquote-secondary{
  padding:20%;
}

.img-text{
  width: 100%;
   height: 400px;
   background-size: cover;
   position: relative;
}

.contact-text{
  padding:4% 5% 0% 0%;
}


.not-clickable{
  pointer-events: none;
}


.sexy_line {
    height: 1px;
    border: 0;
    margin: -0.3rem 0 0 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}

.experience{
    width: 100%;
    height: auto;
    position: relative;
    color:black;
    padding: 2% 2% 2% 2%;
}

.experience li{
  margin-top:17px;
  font-size: 1.5rem;
}

.experience ul {
  list-style: none;
  padding-left: 0;
}

.title{
  font-size: 2rem;
}

.margin{
  padding:10%;
}

.school-intro{
  padding:2% 10% 3% 10%;
}

#contact{
  padding-top:3%;
  padding-bottom: 3%;
}
#contact a{
  transition: all 1s;
}

#contact a:hover{
  transform: scale(1.1);
}


#home h2{
  padding-bottom: 0%;
  text-align: center;
}

.right{
  text-align: right;
}


.clear-filter[filter-color=pink-blue] {
  background: rgba(0,38,160,.2);
  background: linear-gradient(0deg,rgba(146, 106, 130, 0.2),rgba(0,38,160,.6));
}


.no-click a{
  pointer-events: none;
}

.no-click-btn{
  pointer-events: none;
}

p{
  font-family: Roboto;
}

h1{
  font-family: Roboto;
}

.about li{
  font-family:  Arial, Helvetica, sans-serif;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
}


.flex-container2 img{
  width:150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


#my-story-header{
  margin-left: auto;
  margin-right: auto;
}

.flex-container img{
  width:20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-image img{
  width:35%;
  height:auto;
  box-shadow: 0px 0px 5px 5px #e4e4e4;
  border-radius: 3.5px;
}

.tech-btn{
  background: transparent;
  font-size: 13px;
  color: rgba(255, 5, 155, 0.589);
  margin: -20px 0px 0px 0px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

#my-btn{
  color: white;
  border: 2px solid white;
}

#home-btn{
  border: 2px solid white;
}

#projects{
  background-color: #f8f8f8;
}

.section{
  background-color: transparent;
}

.about-text{
  margin: 2rem;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card{
  border-radius: 5px;
  width: 80vw;
  display: flex;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  text-align: center;
}

.card-text h3{
  font-size: 1.6rem;
}

.card-text p{
  color: #797979;
}

.project-img{
  height: 40vh;
  object-fit: contain;
  border-radius: 1rem;
}

.my-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid #e4e4e4;
  border-radius: 1rem;
  text-align: center;
}

.skill-container{
  border-radius: 1rem;
  width: 49.5%;
  padding: 5rem 5rem 5rem 5rem;
  background-color: transparent;
}

.skill-container h2{
  color: rgba(255, 0, 191, 0.589);
}

.vl{
  border: 1px solid #e4e4e4;
  height: auto;
}

@media (max-width: 460px){
  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    text-align: center;
  }

  .project-img{
    height: 40vh;
    width: 60vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2rem;
    object-fit: contain;
  }

  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    text-align: center;
  }
  
  .card-text h3{
    font-size: 1.6rem;
  }
  
  .card-text p{
    color: #797979;
  }  

  .btn{
    width: 30vw;
    border-radius: 10rem;
  }

  .card-body hr{
    display: none;
  }

  .card{
    width: 90vw;
    padding: 1.2rem;
  }
  #spacing-p{
    display: none;
  }

  .my-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #e4e4e4;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .skill-container{
    border-radius: 1rem;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
    background-color: transparent;
  }
  
  .skill-container h2{
    color: rgba(255, 0, 191, 0.589);
  }
  
  .vl{
    border: 1px solid #e4e4e4;
    height: auto;
  }
}