
.red{
  color:white;
  background-color: red;
  font-size: 60px;
}

.brand img{
  width:35%;
}


.card-body p{
  padding-top: 10%;
}

#text1{
  padding-top: 100px;
}


 p{
  font-weight: 400;
}

.vision{
  padding: 5% 2% 5% 2%;
}

.how-section img {
  height:100px;
  width:auto;
  padding-left: 100px;
}

.about{
  padding-bottom: 5%;
}

.faq{
  background-color: #DCDCDC;
}

.faq img{
  height:100px;
  padding-left: 10%;
}


.padded{
  padding: 3% 2% 5% 2%;
}

.faq-col2-padded{
  padding: 7% 0% 3% 0%;
}

.testimony{
  padding: 5% 13% 7% 13%;
}

.testimony img{
  height:auto;
  width:60%;
}

.selfie{
  padding-left: 8%;
}

#selfie img{
  height:auto;
  width:70%;
}

.blockquote-secondary{
  padding:20%;
}


.col-block{
  padding-top: 15%;
}

.img-text{
  width: 100%;
   height: 400px;
   background-size: cover;
   position: relative;
}


.contact-text{
  padding:4% 5% 0% 0%;
}


.not-clickable{
  pointer-events: none;
}


.sexy_line {
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}

.ed-header p{
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  line-height: 140%;
  font-weight: 500;
  margin-top: 10%;

}

.courses{
    width: 100%;
    height: auto;
    /* background-size: cover; */
    /* background: linear-gradient(white, #00385C); */
    background-color: #4682B4;
    position: relative;
    color:white;
}

.courses li{
  margin-top:15px;
  font-size: 18px;
  font-weight: 500;
}

.courses ul {
  list-style: none;
}

.margin{
  margin:4%;
}


.school-intro{
  padding:2% 10% 3% 10%;
}


.proj img{
  transition: all 0.8s ;
}

.proj img:hover{
  transform: scale(1.2);

}

.programs img{
  transition: transform 1.5s;
}

.programs img:hover{
  transform: translate(20px, 20px);
}

.extra img{
  transition: transform 1.5s;
}

.extra img:hover{
  transform: translate(20px, 20px);
}


#contact a{
  transition: all 1s;
}

#contact a:hover{
  transform: scale(1.2);
}


#home h2{
  padding-bottom: 20%;
  text-align: center;
}

.srjc-img img{
  padding-top: 10%;
}

.ucsc-img img{
  padding-top: 20%;
}


.right{
  text-align: right;
}


.contact-first{
  padding-top: 5%;
}


.clear-filter[filter-color=pink-blue] {
  background: rgba(0,38,160,.2);
  background: linear-gradient(0deg,rgba(255,5,155,.2),rgba(0,38,160,.6));
}
