.page-header-image{
  width: 10px;
}

.btn{
  /* width: 12rem; */
  font-size: 1.3rem;
  font-family: 'Jost', sans-serif;
}


.info-cta{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
}

#text1{
  padding-top: 100px;
}

p{
  font-weight: 400;
}

.how-section img {
  height:100px;
  width:auto;
  padding-left: 100px;
}

.light-gray{
  background-color: #f5f5f5;
}

.faq{
  background-color: #DCDCDC;
}

#about{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text p{
  width: 600px;
}

#selfie img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .1);
}

.blockquote-secondary{
  padding:20%;
}

.img-text{
  width: 100%;
   height: 400px;
   background-size: cover;
   position: relative;
}

.contact-text{
  padding:4% 5% 0% 0%;
}


.not-clickable{
  pointer-events: none;
}


.sexy_line {
    height: 1px;
    border: 0;
    margin: -0.3rem 0 0 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}

.services-color{
  color:#00A3FE;
  font-family: 'Jost', sans-serif;
}

.title{
  font-size: 2rem;
  /* text-transform: uppercase; */
  font-weight: 400;
  color: rgb(53, 53, 53);
}

.checklist{
  /* background-color: #b7e6ff; */
  padding: 100px;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
}

.checklist h3{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0%;
  color:rgb(53, 53, 53);
}

.checklist li{
  margin: 10px 0;
  display: flex;
}

#checklist-a{
  color:#00A3FE;
}

.blue-mark{
  color:#00A3FE;
  text-shadow: 2px 2px rgba(224, 224, 224, 0.2);
}

.sub-title{
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.margin{
  padding:10%;
}

.school-intro{
  padding:2% 10% 3% 10%;
}

#contact{
  padding-top:3%;
  padding-bottom: 3%;
}
#contact a{
  transition: all 1s;
}

#contact a:hover{
  transform: scale(1.1);
}

.contact-form{
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}

.uppercase{
  text-transform: uppercase;
}

.right{
  text-align: right;
}

/* .clear-filter[filter-color=pink-blue] {
  background: linear-gradient(130deg, #00186F, #00A3FE);
} */

.email-btn{
  padding: 200px;
  margin: 20px;
}

#gradient
{
    background-color: #2CA8FF;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.no-click a{
  pointer-events: none;
}

.no-click-btn{
  pointer-events: none;
}

body{
  font-family: 'Jost', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.helvetica{
  font-family:  Arial, Helvetica, sans-serif;
}

.noto{
  font-family: 'Noto Serif', serif;
}

.checklist li{
  font-family:  Arial, Helvetica, sans-serif;
}

#my-story-header{
  margin-left: auto;
  margin-right: auto;
}

.about-image img{
  width:35%;
  height:auto;
  box-shadow: 0px 0px 5px 5px #e4e4e4;
  border-radius: 3.5px;
}

.tech-btn{
  background: transparent;
  font-size: 13px;
  color: rgba(255, 5, 155, 0.589);
  margin: -20px 0px 0px 0px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

#my-btn{
  color: white;
  border: 2px solid white;
}

#home-btn{
  /* border: 2px solid white; */
  background-color: black;
  color:white;
}

#home-nav-btn{
  /* center the text */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  color:white;
  height: 30px;
  width: 120px;
  padding: 0;
  margin-top: 7%;
}

#projects{
  background-color: #f8f8f8;
}


.about-text{
  margin: 2rem;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card{
  border-radius: 5px;
  width: 80vw;
  display: flex;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.card-text h3{
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.card-text p{
  line-height: 150%;
}

p{
  /* font-family: 'Merriweather', serif; */
  font-family: 'Noto Serif', serif;
}

.project-img{
  height: 55vh;
  object-fit: contain;
  border-radius: 0.2rem;
  margin-right: 3rem;
}

.my-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
}

.why-container{
  background-color: transparent;
  margin: 80px 0;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial{
  min-height: 90vh;
}

.testimonial-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-card{
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
  border-radius: 8px;
  padding: 15px 5px;
  margin: 20px 40px;
  width: 400px;
  min-height: 500px;
  position: relative;
}

.why-container h6,a{
  letter-spacing: 1.2px;
}

.why-container p{
  line-height: 165%;
}

.testimonial-card-name{
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fake-link {
  text-decoration: none;
  color: #1e70bf;
}

.skill-container{
  width: 48%;
  padding: 100px 40px;
  background-color: transparent;
}

.skill-container h2{
  color: black;
}

.skill-container li{
  margin-top: 17px;
  font-size: 1.2rem;
}

.skill-container p{
  margin-top: 17px;
}

.vl{
  border: 1px solid #e4e4e4;
  height: auto;
}

.testimonial-logo{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 40px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-top{
  margin-top: 60px;
}

.my-images{
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#h1-seo{
  font-size: 2.7rem;
  margin-bottom: 20px;
  text-transform: none;
}

#h2-seo{
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hero-sub{
  font-size: 20px;
  margin-bottom: 32px;
}

.testimonial-img{
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: 0 0%;
  border-radius: 50%;
  margin: 40px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-card{
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
  padding: 10px 0;
}

.box-section{
  background-color: transparent;
  width: 80%;
  padding: 50px 100px;
  margin: 80px;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
  font-size: 16px;
}

.box-section p{  
  font-family: 'Jost', sans-serif;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.box-section ul{
  font-size: 1.2em;
}

.box-section ul li{
  margin: 10px;
}

@media (max-width: 500px){
  #white-back{
    background-color:blue !important;
  }

  .about-text p{
    width: auto;
  }

  #h1-seo{
    font-size: 2rem;
  }

  #h2-seo{
    font-size: 1.3rem;
    margin-top: 20px;    
  }

  .hero-sub{
    font-size: 16px;
  }

  .title{
    font-size: 1.6rem;
    letter-spacing: 2px;
  }  

  #home-btn{
    font-size: 1.2rem;
  }

  .why-container{
    background-color: transparent;
    color:#797979;
    margin: 5rem 1rem 10px 1rem;
  }

  .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  .project-img{
    height: 45vh;
    width: 60vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2rem;
    object-fit: contain;
  }

  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: inherit;
    margin: 0 2rem;
  }
  
  .card-text h3{
    font-size: 1.6rem;
  } 

  .btn{
    text-align: center;
  }

  .card-body hr{
    display: none;
  }

  .card{
    width: 90vw;
    padding: 1.2rem;
  }
  #spacing-p{
    display: none;
  }

  .my-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid #e4e4e4; */
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* text-align: center; */
    box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2);
  }
  
  .vl{
    border: 1px solid #e4e4e4;
    height: auto;
  }

  .my-images{
    width: 100vw;
  }

  .why-container p{
    line-height: 150%;
  }

  .about-card{
    border-radius: 0;
    box-shadow: none;
  }

  .checklist{
    padding: 50px 40px;
    width: 100%;
    margin-bottom: 50px;
  }

  .checklist li{
    margin: 10px 0;
  }

  .one-liner{
    width: 100%;
  }
  
  .checklist h3{
    font-size: 1.7rem;
    margin-bottom: 30px;
  }
  
  .checklist li{
    margin: 10px 0;
  }

  .skill-container{
    border-radius: 0;
    width: 100%;
    padding: 50px 25px;
  }

  .testimonial-cards{
    flex-direction: column;
  }
  
  .testimonial-card{
    border-radius: 4px;
    padding: 0px 0px;
    margin: 20px 0;
    width: 95vw;
    min-height: 400px;
  }

  .box-section{
    width: 90%;
    padding: 50px 20px;
    margin: 0;
  }

  #home-nav-btn{
    margin-left: 7%;
  }  
}


#white-text{
  color:white;
}

.black-text{
  color: #000;
}


.macbook{
  width: 400px;
  height: 400px;
}

.iphone{
  width: 300px;
  height: 300px;
  
}

.circle{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
}


.right-arrow{
  color:white;
  font-size: 90px;
}

@media (max-width: 500px){
  .macbook{
    margin-top: -30px;
  }

  .iphone{
    width: 300px;
    height: 300px;
    margin-top: 0px;
  }

  .right-arrow{
    font-size: 40px;
  }
}


.gray-text{
  color:#5a5a5a;
}

.black-text{
  color: #000;
}


html {
  scroll-behavior: smooth;
}

.parallax {
  /* The image used */
  background-image: url("./../images/hero-pics/iphone.png"),  url("./../images/hero-pics/macbook-new.png");

  /* Set a specific height */
  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 20% 2%, 70% 10%;
  background-repeat: no-repeat;
  background-size: 400px;
}

.huge-text{
  font-size: 50px;
  text-transform: uppercase;
}

.margin{
  margin-top: 50px;
}


@media (max-width: 900px){
  .parallax{
    display: none;
  }
  .margin{
    margin-top: 0;
  }
}

@media (max-width: 500px){
  .parallax{
    display: none;
  }
}




.hero-flex{
  display: flex;
  flex-direction: row;
}


body::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, #2CA8FF);
  clip-path: circle(30% at right 70%);
}

body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2CA8FF, #000);
  clip-path: circle(30% at 10% 10%);
}


.container .card{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgb(225, 225, 225, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgb(225, 225, 225, 0.5);
  border-left: 1px solid rgb(225, 225, 225, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container .card .content{
  padding: 10px;
  text-align: center;
  /* transform: translateY(100px);
  opacity: 0;
  transition: 0.5s; */
}

/* .container .card:hover .content{
  transform: translateY(0px);
  opacity: 1;
} */

.container .card .content h2{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  color: rgb(225, 225, 225, 0.5);
  pointer-events: none;
}

.container .card .content h3{
  font-size: 1.3rem;
  color: rgba(225, 225, 225, 0.856);
  z-index: 1;
  pointer-events: none;
}

.container .card .content p{
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}


.container .card .content .card-pic{
  width: 130px;
}

#card-pic{
  width: 330px;
  border-radius: 15px;
  height: 240px;
  object-fit: cover;
  border-top: 1px solid rgb(225, 225, 225, 0.5);
  border-left: 1px solid rgb(225, 225, 225, 0.5);
}

@media (max-width: 500px){
  .hero-flex{
    flex-direction: column-reverse;
  }

  .container .card{
    width: 240px;
    height: 200px;
    margin: 30px;
    box-shadow: 1px 1px 50px rgb(0, 0, 0, 0.5);
  }

  .container .card .content h2{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    color: rgb(225, 225, 225, 0.5);
    pointer-events: none;
  }

  .container .card .content p{
    display: none;
  }

  .container .card .content .card-pic{
    width: 100px;
  }

  #card-pic{
    width: 350px;
    height: 170px;
  }
}


.large-text{
  font-size: 3rem;
}

.medium-text{
  font-size: 1.7rem;
}

.small-text{
  font-size: 1.2rem;
}

.blue{
  color:#00A3FE;
}

.bold{
  font-weight:600;
}